/* FeatureCard.css */
.container-fluid{
  background-color: #ffffff;
}

.feature-card {
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #ffffff;
  
}

.feature-card:hover {
  background-color: #28a745;
  color: white;
}

.feature-card:hover .card-title,
.feature-card:hover .card-text,
.feature-card:hover  {
  color: white !important; /* Asegura que el color de los iconos cambie */
}



.feature-row .col-md-6:last-child,
.feature-row .col-lg-3:last-child {
  border-right: none;
}

/* Circle with border around the icon */
.feature-card .icon-wrapper {
  display: inline-block;
  width: 70px; 
  height: 70px;
  border: 2px solid #dcdcdc; 
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px; 
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.feature-card:hover .icon-wrapper {
  background-color: white; 
  border-color: white; 
  
}

