.hero-section2 {
    width: 100%;
    height: 60vh;
    background-image: url('../images/hero/2.jpg'); /* Ruta a tu imagen */
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; /* Aplica el efecto de fondo fijo */
   margin-bottom: 5%;
}

.overlay2 {
    background-color: rgba(0, 0, 0, 0.648); /* Añade un overlay semitransparente si es necesario */
}

.content2 {
    z-index: 1; /* Asegura que el contenido esté por encima de la imagen */
}

.small-title2 {
    color: #ff9924;
    font-size: 1.7rem !important;     margin-top: 50%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
    
}

.main-title2 {
    color: #fff;
    font-weight: bold;
    font-size: 3.7rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-family: Pro-text;
}

/* Responsive Design */
@media (max-width: 1081px) {


    .small-title2 {
        font-size: 2.5rem;
    }

    .main-title2 {
        font-size: 5rem;
    }

    .custom-btn2 {
        font-size: 1.3rem;
        padding: 12px 25px;
    }
}



/* Responsive Design */
@media (max-width: 940px) {
   

    .small-title2 {
        font-size: 2rem;
    }

    .main-title2 {
        font-size: 4rem;
    }

    .custom-btn2 {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
   

    .small-title2 {
        font-size: 2rem !important;
    }

    .main-title2 {
        font-size: 3rem;
    }

    .custom-btn2 {
        font-size: 1rem;
        padding: 10px 20px;
    }
}



/* Responsive Design */
@media (max-width: 606px) {
    .hero-section2 {
        height: 90vh; /* Adjust height for smaller screens */
    }

    .small-title2 {
        font-size: 1.5rem;
    }

    .main-title2 {
        font-size: 2.5rem;
    }

    .custom-btn2 {
        font-size: 1rem;
        padding: 10px 20px;
    }
}


@media (max-width: 500px) {
    .hero-section2 {
        height: 80vh; /* Adjust height for extra small screens */
        
    }

    .small-title2 {
        font-size: 1.5rem !important;
    }

    .main-title2 {
        font-size: 2rem;
    }

    .custom-btn2 {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}



@media (max-width: 401px) {
    .hero-section2 {
        height: 90vh; /* Adjust height for extra small screens */
        
    }

    .small-title2 {
        font-size: 1.5rem !important;
    }

    .main-title2 {
        font-size: 1.8rem;
    }

    .custom-btn2 {
        font-size: 0.7rem;
        padding: 7px 14px;
    }
}



@media (max-width: 325px) {
    .hero-section2 {
        height: 90vh; /* Adjust height for extra small screens */
        
    }

    .small-title2 {
        font-size: 1.2rem !important;
    }

    .main-title2 {
        font-size: 1.5rem;
    }

    .custom-btn2 {
        font-size: 0.7rem;
        padding: 6px 13px;
    }
}
