.zoom-effect {
    position: relative;
    overflow: hidden;
}

.zoom-effect img {
    max-width: 100%;
    transition: 0.6s ease-out;
}

.zoom-effect:hover img {
    transform: scale(1.1, 1.1);
}

.zoom-effect:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
    opacity: 0;
    transition: 0.5s ease;
}

.zoom-effect:hover:before {
    opacity: 1;
    cursor: pointer;
}

.zoom-effect .icon-instagram {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: white;
    opacity: 0;
    z-index: 3;
    transition: opacity 0.5s ease;
}

.zoom-effect:hover .icon-instagram {
    opacity: 1;
}

.section-title {
    font-size: 3.5rem;
    margin-top: 10%;
    text-align: center;
    color:#f7941d;
    font-family: Pro-text;
   
}


@media (max-width: 750px) {
    .section-title {
        font-size: 3rem;
    }
   
}

@media (max-width: 600px) {
    .section-title {
        font-size: 2.5rem;
    }
   
}

@media (max-width: 400px) {
    .section-title {
        font-size: 2rem;
    }
   
}

@media (max-width: 300px) {
    .section-title {
        font-size: 1.5rem;
    }
    
}

/* Ajuste de imágenes para pantallas pequeñas */
@media (max-width: 770px) {
    .col-4 {
        width: 33.333%;
    }
}
