/* ProductCard.css */
.container {
  max-width: 1450px;
  margin: auto;
}

.section-title {
  text-align: center;
  font-size: 5.5rem !important;
  margin-bottom: 5%;
  margin-top: 10%;
  font-family: Pro-text;
  font-weight: bold;
}

.section-title span {
  color: #000000;
}

.section-subtitle {
  text-align: center;
  margin-bottom: 2rem;
  color: #666;
  font-family: Poppings-regular;
}

.product-card {
  position: relative;
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.product-card img {
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease;
}

.product-card .card-body {
  padding: 1rem;
}

.product-card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.product-card .card-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.product-card .btn {
  background-color: #f28123;
  border: none;
  color: white;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  border-radius: 40px;
  transition: background-color 0.3s ease;
  margin-bottom: 0.5rem;
}

.product-card .btn:hover {
  background-color: #000;
  color: #f28123;
}

.product-card .icon-overlay {
  position: absolute;
  top: 40px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-card .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px; /* Aumentar el tamaño */
  height: 50px; /* Aumentar el tamaño */
  border: 2px solid rgba(0, 0, 0, 0.495); /* Borde gris claro */
  border-radius: 50%;
  background: transparent; /* Fondo transparente */
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  margin-right: 10px; /* Margen derecho */
}

.product-card .icon-container:hover {
  background-color: rgba(255, 255, 255, 0.991); /* Fondo blanco al hacer hover */
  transform: scale(1.1);
}

.product-card .icon-container .fa-heart,
.product-card .icon-container .fa-eye {
  font-size: 1.5rem; /* Aumentar el tamaño del ícono */
  color: rgba(255, 133, 33, 0.984); /* Color del ícono */
  transition: color 0.3s ease;
}

.product-card .icon-container:hover .fa-heart,
.product-card .icon-container:hover .fa-eye {
  color: #f28123; /* Color del ícono al hacer hover */
}

.product-card .icon-container .icon-text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  color: #000;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px 5px;
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, top 0.3s ease;
}

.product-card .icon-container:hover .icon-text {
  top: 110%;
  opacity: 1;
}

.product-card:hover .icon-overlay {
  opacity: 1;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.product-card:hover img {
  transform: scale(1.1);
}

.text-center {
  text-align: center;
}

.view-all-btn {
  background-color: #000000;
  border: none;
  color: white;
  padding: 1.1rem 3rem;
  font-size: 1.8rem;
  border-radius: 100px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  margin-top: 3%;
  margin-bottom: 5%;
  display: inline-flex;
  align-items: center;
}

.view-all-btn .arrow-icon {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  margin-left: 8px;
}

.view-all-btn:hover {
  background-color: #f28123;
  color: #ffffff;
  transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón */
}

.view-all-btn:hover .arrow-icon {
  color: #ffffff;
}

/* Hide specific products on screens 1000px or smaller */
@media (max-width: 1000px) {
  .container {
    padding: 0 1rem;
  }

  .product-card {
    width: 100%;
    margin: 2.5%;
    box-sizing: border-box;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col-12, .col-md-6, .col-lg-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-12.col-md-6.col-lg-3 {
    flex: 0 0 50%;
    max-width: 100%;
  }

  .product-5, .product-6, .product-7, .product-8 {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }

  .product-card {
    width: 100%;
    margin: 2.5%;
    box-sizing: border-box;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col-12, .col-md-6, .col-lg-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-12.col-md-6.col-lg-3 {
    flex: 0 0 50%;
    max-width: 100%;
  }

  .product-card img {
    height: auto;
    max-width: 100%;
  }

  .product-card .card-body {
    padding: 0.5rem;
  }

  .product-card .card-title {
    font-size: 1rem;
  }

  .product-card .card-price {
    font-size: 1.2rem;
  }

  .product-card .btn {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }

  .view-all-btn {
    padding: 0.9rem 2.5rem;
    font-size: 1.2rem;
    border-radius: 100px;
  }

  .view-all-btn .arrow-icon {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    margin-left: 8px;
  }

  .section-title {
    font-size: 4rem !important;
  }
}

@media (max-width: 560px) {
  .section-title {
    font-size: 3.5rem !important;
  }
}

@media (max-width: 420px) {
  .container {
    padding: 0 1rem;
  }

  .product-card {
    width: 100%;
    margin: 2.5%;
    box-sizing: border-box;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col-12, .col-md-6, .col-lg-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-12.col-md-6.col-lg-3 {
    flex: 0 0 50%;
    max-width: 100%;
  }

  .product-card img {
    height: auto;
    max-width: 100%;
  }

  .product-card .card-body {
    padding: 1rem;
  }

  .product-card .card-title {
    font-size: 0.8rem;
  }

  .product-card .card-price {
    font-size: 1rem;
  }

  .product-card .btn {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }

  .product-card .icon-container .fa-heart,
  .product-card .icon-container .fa-eye {
    font-size: 1.2rem; /* Aumentar el tamaño del ícono */
  }

  .product-card .icon-container {
    width: 40px; /* Aumentar el tamaño */
    height: 40px; /* Aumentar el tamaño */
    border-radius: 50%;
  }

  .section-title {
    font-size: 2.6rem !important;
  }

  

  .view-all-btn .arrow-icon {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin-left: 8px;
  }
}

@media (max-width: 360px) {
  .container {
    padding: 0 1rem;
  }

  .product-card {
    width: 100%;
    margin: 2.5%;
    box-sizing: border-box;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col-12, .col-md-6, .col-lg-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-12.col-md-6.col-lg-3 {
    flex: 0 0 50%;
    max-width: 100%;
  }

  .product-card img {
    height: auto;
    max-width: 100%;
  }

  .product-card .card-body {
    padding: 1rem;
  }

  .product-card .card-title {
    font-size: 0.7rem;
  }

  .product-card .card-price {
    font-size: 1rem;
  }

  .product-card .btn {
    font-size: 0.7rem;
    padding: 0.4rem 0.7rem;
  }

  .product-card .icon-container .fa-heart,
  .product-card .icon-container .fa-eye {
    font-size: 1rem; /* Aumentar el tamaño del ícono */
  }

  .product-card .icon-container {
    width: 30px; /* Aumentar el tamaño */
    height: 30px; /* Aumentar el tamaño */
    border-radius: 50%;
  }


  .view-all-btn {
    padding: 0.6rem 1.8rem;
    font-size: 0.9rem;
    border-radius: 100px;
    margin-top: -10% ;
  }

}
