.container.my-5 {
    padding-top: 10%; /* Ajusta esto según la altura de tu navbar */
}

.mb-4 {
    margin-bottom: 2.5rem !important;
}

.table-responsive {
    overflow-x: auto;
}

.table img {
    width: 50px;
    margin-right: 10px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.btn-outline-danger {
    border: none;
    color: #dc3545;
    background-color: transparent;
}

.btn-outline-danger:hover {
    color: white;
    background-color: #dc3545;
}

@media (max-width: 1200px) {
    .page-title {
        font-size: 1.75rem;
    }
}

@media (max-width: 1000px) {
    .page-title {
        font-size: 1.5rem;
    }

    .product-img {
        width: 45px;
    }
}

@media (max-width: 800px) {
    .page-title {
        font-size: 1.25rem;
    }

    .product-img {
        width: 40px;
    }
}

@media (max-width: 600px) {
    .page-title {
        font-size: 1rem;
    }

    .product-img {
        width: 35px;
    }

    .card-body {
        text-align: center;
    }

    .input-group {
        flex-direction: column;
    }

    .input-group .btn {
        margin-bottom: 0.5rem;
    }

    .input-group .btn:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 400px) {
    .page-title {
        font-size: 0.875rem;
    }

    .product-img {
        width: 30px;
    }

    .card-body {
        font-size: 0.875rem;
    }

    .input-group .btn {
        font-size: 0.875rem;
    }
}

@media (max-width: 300px) {
    .page-title {
        font-size: 0.75rem;
    }

    .product-img {
        width: 25px;
    }

    .card-body {
        font-size: 0.75rem;
    }

    .input-group .btn {
        font-size: 0.75rem;
    }
}
